In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df =  pd.read_csv('D:\Data Science\data sets\Future-500.csv')

In [6]:
df.tail(10)

,ID,Name,Industry,Inception,Employees,State,City,Revenue,Expenses,Profit,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
490,491,Comparejson,Construction,2013.0,125.0,IL,Glendale Heights,"$12,359,532","6,527,308 Dollars",5832224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,492,Pickledcanoeing,Retail,2012.0,16.0,OH,Medina,"$11,654,196","6,460,234 Dollars",5193962.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,493,Assurehelp,IT Services,2014.0,10.0,MN,Minneapolis,"$15,019,551","4,004,040 Dollars",11015511.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,494,Shrimpssecurity,Government Services,2009.0,104.0,DC,Washington,"$7,919,278","5,355,504 Dollars",2563774.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494,495,Rawfishcomplete,Financial Services,2012.0,124.0,CA,Los Angeles,"$10,624,949","2,951,178 Dollars",7673771.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,496,Buretteadmirable,IT Services,2009.0,93.0,ME,Portland,"$15,407,450","2,833,136 Dollars",12574314.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,497,Inventtremendous,Construction,2009.0,24.0,MN,Woodbury,"$9,144,857","4,755,995 Dollars",4388862.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,498,Overviewparrot,Retail,2011.0,7125.0,TX,Fort Worth,"$11,134,728","5,152,110 Dollars",5982618.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,499,Belaguerra,IT Services,2010.0,140.0,MI,Troy,"$17,387,130","1,387,784 Dollars",15999346.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,500,Allpossible,IT Services,2011.0,24.0,CA,Los Angeles,"$11,949,706","689,161 Dollars",11260545.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           500 non-null    int64
 1   Name         500 non-null    object
 2   Industry     498 non-null    object
 3   Inception    499 non-null    float64
 4   Employees    498 non-null    float64
 5   State        496 non-null    object
 6   City         500 non-null    object
 7   Revenue      498 non-null    object
 8   Expenses     497 non-null    object
 9   Profit       498 non-null    float64
 10  Growth       499 non-null    object
 11  Unnamed: 11  0 non-null      float64
 12  Unnamed: 12  2 non-null      object
 13  Unnamed: 13  2 non-null      object
 14  Unnamed: 14  2 non-null      object
 15  Unnamed: 15  2 non-null      object
 16  Unnamed: 16  2 non-null      object
 17  Unnamed: 17  3 non-null      object
 18  Unnamed: 18  2 non-null      object
 19  Unnamed: 19  2 non-null      object
 20  Unnamed: 20  2 non-null      object
 21  Unnamed: 21  2 non-null      object
 22  Unnamed: 22  2 non-null      object
dtypes: float64(4), int64(1), object(18)
memory usage: 90.0+ KB

In [8]:
df.describe()

               ID    Inception    Employees        Profit  Unnamed: 11
count  500.000000   499.000000   498.000000  4.980000e+02          0.0
mean   250.500000  2010.174349   148.610442  6.539474e+06          NaN
std    144.481833     3.228211   397.353657  3.869934e+06          NaN
min      1.000000  1999.000000     1.000000  1.243400e+04          NaN
25%    125.750000  2009.000000    27.250000  3.272074e+06          NaN
50%    250.500000  2011.000000    56.000000  6.513366e+06          NaN
75%    375.250000  2012.000000   126.000000  9.303951e+06          NaN
max    500.000000  2014.000000  7125.000000  1.962453e+07          NaN

In [11]:
df.isnull().any().sum()

20

In [12]:
from pandas_visual_analysis import VisualAnalysis

In [13]:
VisualAnalysis(df)

VBox(children=(ToggleButtons(_dom_classes=('layout-f41064c4062a4bf4bbf090fb6569e4e1',), description='Selection…

In [1]:
#To install 

!pip install pandas_visual_analysis

Requirement already satisfied: pandas_visual_analysis in c:\users\d\anaconda3\lib\site-packages (0.0.4)
Requirement already satisfied: plotly>=4.10.0 in c:\users\d\anaconda3\lib\site-packages (from pandas_visual_analysis) (4.10.0)
Requirement already satisfied: ipywidgets>=7.5.1 in c:\users\d\anaconda3\lib\site-packages (from pandas_visual_analysis) (7.5.1)
Requirement already satisfied: blinker>=1.4 in c:\users\d\anaconda3\lib\site-packages (from pandas_visual_analysis) (1.4)
Requirement already satisfied: pandas>=1.1.0 in c:\users\d\anaconda3\lib\site-packages (from pandas_visual_analysis) (1.3.1)
Requirement already satisfied: setuptools>=49.2.0 in c:\users\d\anaconda3\lib\site-packages (from pandas_visual_analysis) (52.0.0.post20210125)
Requirement already satisfied: numpy>=1.19.1 in c:\users\d\anaconda3\lib\site-packages (from pandas_visual_analysis) (1.19.2)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\d\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (4.3.3)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\d\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (5.0.7)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\d\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (5.3.4)
Requirement already satisfied: ipython>=4.0.0 in c:\users\d\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (7.26.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\d\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->pandas_visual_analysis) (3.5.1)
Requirement already satisfied: jupyter-client in c:\users\d\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (6.1.6)
Requirement already satisfied: tornado>=4.2 in c:\users\d\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas_visual_analysis) (6.1)
Requirement already satisfied: matplotlib-inline in c:\users\d\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.1.2)
Requirement already satisfied: colorama in c:\users\d\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.4.3)
Requirement already satisfied: pickleshare in c:\users\d\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.7.5)
Requirement already satisfied: backcall in c:\users\d\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\d\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (3.0.5)
Requirement already satisfied: decorator in c:\users\d\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (4.4.2)
Requirement already satisfied: jedi>=0.16 in c:\users\d\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.17.2)
Requirement already satisfied: pygments in c:\users\d\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (2.6.1)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\d\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.7.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\d\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_visual_analysis) (2.6.0)
Requirement already satisfied: jupyter-core in c:\users\d\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_visual_analysis) (4.7.1)
Requirement already satisfied: ipython-genutils in c:\users\d\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.2.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\d\anaconda3\lib\site-packages (from pandas>=1.1.0->pandas_visual_analysis) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\d\anaconda3\lib\site-packages (from pandas>=1.1.0->pandas_visual_analysis) (2.8.1)
Requirement already satisfied: retrying>=1.3.3 in c:\users\d\anaconda3\lib\site-packages (from plotly>=4.10.0->pandas_visual_analysis) (1.3.3)
Requirement already satisfied: six in c:\users\d\anaconda3\lib\site-packages (from plotly>=4.10.0->pandas_visual_analysis) (1.15.0)
Requirement already satisfied: wcwidth in c:\users\d\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\d\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (6.4.0)
Requirement already satisfied: pyzmq>=17 in c:\users\d\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (19.0.2)
Requirement already satisfied: nbconvert in c:\users\d\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (6.0.7)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\d\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (1.5.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\d\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.9.4)
Requirement already satisfied: prometheus-client in c:\users\d\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.8.0)
Requirement already satisfied: jinja2 in c:\users\d\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (2.11.2)
Requirement already satisfied: argon2-cffi in c:\users\d\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (20.1.0)
Requirement already satisfied: pywin32>=1.0 in c:\users\d\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.5.1->pandas_visual_analysis) (227)
Requirement already satisfied: pywinpty>=0.5 in c:\users\d\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\d\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (1.14.6)
Requirement already satisfied: pycparser in c:\users\d\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\d\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (1.1.1)
Requirement already satisfied: defusedxml in c:\users\d\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\d\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (1.4.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\d\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.3)
Requirement already satisfied: testpath in c:\users\d\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.4.4)
Requirement already satisfied: jupyterlab-pygments in c:\users\d\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.1.2)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\d\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.5.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\d\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.8.4)
Requirement already satisfied: bleach in c:\users\d\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (3.1.5)
Requirement already satisfied: async-generator in c:\users\d\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\d\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (1.5.1)
Requirement already satisfied: webencodings in c:\users\d\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (0.5.1)
Requirement already satisfied: packaging in c:\users\d\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (20.4)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\d\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas_visual_analysis) (2.4.7)